@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  text-decoration: none;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: #f7f2e4;
}
.navbar {
  background: white;
  padding: 1em;
  box-shadow: 0px 1px 0 #b8b8b8;
  
  .logo {
    img {
      height: 2.7em;
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    padding-top: 1em;
    height: 1.1em;
    cursor: pointer;
  }
}

a {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero{
  
  text-align: center;
  margin: 1px 1em;
  .container{
    .hero-logo{
     height: 12em;
     margin-bottom:-1em;
    
    }
    .line{
      height: 2px;
      background-color: #26242e;
      opacity: 30%;
      margin:0;
    }
    .parzenica{
      margin-top: 2em;
      height: 10em;
    }
    .title{
      font-size:1.2em ;
      margin: 1em;
    }
    .firstpart{
    padding: 0 3em;
     display:inline-table;
     margin: 2em 0;
    }
    .title2{
      font-size:1.2em ;
      margin: 1em;
    }
    .secondpart{
      padding: 0 3em;
     display:inline-table;
     margin: 2em 0;
    }
    .title3{
      font-size:1.2em ;
      margin: 1em;
    }
    .thirdpart{
      padding: 0 3em;
     display:inline-table;
     margin: 2em 0;
    }
    
  }
}

.footer-section {
  text-align: center;
  padding: 0;
  margin-bottom: 0em;

  .footer {
    background-color: #26242e;

    .clip {
      z-index: 0;
      height: 3em;
      background-color: #c99d3b;
    }

    .clip-path-top4 {
      height: 100%;
      width: 100%;
      clip-path: polygon(100% 6%, 0 0, 100% 0);
      position: absolute;
      z-index: 0;
      margin-top: -0.1em;
      background-color: #c99d3b;
    }

    .paczki-footer {
      display: block;
      position: absolute;
      right: 0;
      height: 150px;
      margin-top: -7em;
    }

    .logo-footer {
      height: 20em;
      margin-top: 3em;
    }

    ul {
      padding: 0em 2em;
      color: white;
      font-weight: lighter;
      text-align: center;
      font-size: 14px;

      .info-text {
        padding-bottom: 3em;
        margin-top: -2em;
      }
      .phone-number {
        a {
          color: #c99d3b;
          text-decoration: none;
        }
      }
      .email {
        a {
          color: #c99d3b;
          text-decoration: none;
        }
      }

      .adres {
        margin-top: 1em;
      }
    }

    .color-text {
      color: #c99d3b;
      text-decoration: none;
    }

    iframe {
      width: 90%;
      padding: 1em;
      border-radius: 30px;
    }
  }
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 45%;
  right: 0;
  top: 0;
  background-color: #20272e;
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
    list-style-type: none;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.5em;
      text-align: right;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 1em 4em;
    .container {
      .logo {
        img {
          height: 5em;
        }
      }
      .mobile-menu {
        height: 2em;
        padding-top: 2em;
      }
    }
  }
  .hero{
    margin: 1px 5em;
    .container{
      .hero-logo{
       height: 12em;
       margin-bottom:-1em;
      
      }
      .line{
        height: 2px;
        background-color: #26242e;
        opacity: 30%;
      
      }
      .title{
        font-size:1.2em ;
        margin: 1em;
      }
      .firstpart{
      padding: 0 3em;
       display:inline-table;
       margin: 2em 0;
      }
      .title2{
        font-size:1.2em ;
        margin: 1em;
      }
      .secondpart{
        padding: 0 3em;
       display:inline-table;
       margin: 2em 0;
      }
      .title3{
        font-size:1.2em ;
        margin: 1em;
      }
      .thirdpart{
        padding: 0 3em;
       display:inline-table;
       margin: 2em 0;
      }
      
    }
  }
}
@media only screen and (min-width: 950px) {
  .navbar {
    padding: 1em 7em;
    .container {
      .logo {
        img {
          height: 6em;
        }
      }
      .mobile-menu {
        height: 2.5em;
      }
    }
  }
  .hero{
    margin: 1px 5em;
    .container{
      .hero-logo{
       height: 18em;
      }
      .line{
        height: 2px;
        background-color: #26242e;
        opacity: 30%;
        margin:0 1em
      }
    }
  }
}
@media only screen and (min-width: 1050px) {
  .hero{
    margin: 1px 4em;
    .container{
      .line{
        margin:0 4em
      }
    }
  }
}
@media only screen and (min-width: 1150px) {
  .hero{
    .container{
      .line{
        margin:0 4em
      }
    }
  }
}
@media only screen and (min-width: 1250px) {
  .hero{
    .container{
      .title, .title2, .title3{
        font-size: 1.5em;
      }
      .part1{
        margin: 0 10em;
        p{
          font-size: 1.3em; 
        }
      }
      .part2{
        margin: 0 10em;
        p{
          font-size: 1.3em; 
        }
      }
      .part3{
        margin: 0 10em;
        p{
          font-size: 1.3em; 
        }
      }
      .line{
        margin:0 6em
      }
    }
  }
}
@media only screen and (min-width: 1350px) {
  .hero{

    .container{
      .part1{
        display: flex;
        
        margin: 0 15em;
        img{
          margin: 7em 0;
          height: 17em;
        }
      }
      .part2{
        display: flex;
        
        margin: 0 15em;
        img{
          margin: 5em 2em;
          height: 17em;
        }
        .secondpart{
          margin: 3em 0;
        }
      }
      .part3{
        display: flex;
        
        margin: 0 15em;
        img{
          margin-top: 3em;
          height: 17em;
        }
        .thirdpart{
          margin: 3em 0;
        }
      }
      .line{
        margin:0 9em
      }
    }
  }
}
@media only screen and (min-width: 1450px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .logo {
    padding-left: 6em;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding-left: 12em;

    ul {
      display: flex;
      padding-top: 0.7em;
    }

    a {
      color: black;
      font-size: 1.3em;
      padding: 0.4em 2em;
    }

    ul.primary-nav {
      margin: auto auto;

      li {
        font-weight: normal;
      }

      &:hover {
        font-weight: bold;
      }
    }
  }
  
  .hero{

    .container{
      .part1{
        margin: 0 15em;
        img{
          margin: 5em 0;
          height: 17em;
        }
      }
      .part2{
        margin: 0 15em;
        img{
          margin: 5em 2em;
          height: 17em;
        }
        .secondpart{
          margin: 3em 3em;
        }
      }
      .part3{
        display: flex;
        
        margin: 0 15em;
        img{
          margin-top: 3em;
          height: 17em;
        }
        .thirdpart{
          margin: 3em 3em;
        }
      }
      .line{
        margin:0 9em
      }
    }
  }
}
