@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  text-decoration: none;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Poppins";
  background-color: #f7f2e4;
}
.navbar {
  background: white;
  padding: 1em;
  box-shadow: 0px 1px 0 #b8b8b8;;
  .logo {
    img {
      height: 2.7em;
    }
  }

  nav {
    display: none;
  }

  .container {
    display: flex;
    place-content: space-between;
  }

  .mobile-menu {
    padding-top: 1em;
    height: 1.1em;
    cursor: pointer;
  }
}


a {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container{
  .hero-text{
    text-align: center;
    .space{
      margin-top: 4em;
    }
    .title{
      font-size: 2.5em;
      font-weight: bold;
    }
    .photos1{
      img{
        width:0%;
      }
    }
    .photos2{
      img{
        width:100%;
      }
    }
    iframe{
      margin-top: 3em;
      margin-bottom: 4em;
      border-radius: 25px;
      padding-top: 2em;
      background-color: #20272e;
      height: 12em;
      width: 17em;
    }
  }
}

.footer-section {
  text-align: center;
  padding: 0;
  margin-bottom: 0em;

  .footer {
    background-color: #26242e;

    .clip {
      z-index: 0;
      height: 3em;
      background-color: #c99d3b;
    }

    .clip-path-top4 {
      height: 100%;
      width: 100%;
      clip-path: polygon(100% 6%, 0 0, 100% 0);
      position: absolute;
      z-index: 0;
      margin-top: -0.1em;
      background-color: #c99d3b;
    }

    .paczki-footer {
      display: block;
      position: absolute;
      right: 0;
      height: 150px;
      margin-top: -7em;
    }

    .logo-footer {
      height: 20em;
      margin-top: 3em;
    }

    ul {
      padding: 0em 2em;
      color: white;
      font-weight: lighter;
      text-align: center;
      font-size: 14px;

      .info-text {
        padding-bottom: 3em;
        margin-top: -2em;
      }
      .phone-number {
        a {
          color: #c99d3b;
          text-decoration: none;
        }
      }
      .email {
        a {
          color: #c99d3b;
          text-decoration: none;
        }
      }

      .adres {
        margin-top: 1em;
      }
    }

    .color-text {
      color: #c99d3b;
      text-decoration: none;
    }

    iframe {
      width: 90%;
      padding: 1em;
      border-radius: 30px;
    }
  }
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 65%;
  right: 0;
  top: 0;
  background-color: #20272e;
  height: 100vh;
  padding: 1em;

  ul.primary-nav {
    margin-top: 5em;
    list-style-type: none;
  }

  li {
    a {
      color: white;
      text-decoration: none;
      display: block;
      padding: 0.5em;
      font-size: 1.5em;
      text-align: right;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
@media only screen and (min-width: 500px) {
  .container{
    .hero-text{
      
      iframe{
        margin-top: 3em;
        border-radius: 25px;
        padding-top: 2em;
        background-color: #20272e;
        height: 16em;
        width: 25em;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .navbar {
    padding: 1em 4em;
    .container {
      .logo {
        img {
          height: 5em;
        }
      }
      .mobile-menu {
        height: 2em;
        padding-top: 2em;
      }
    }
  }
  .container{
    .hero-text{
      .photos1{
        
        img{
          width:100%;
        }
        
      }
      .photos2{
        img{
          width:0%;
          
        }
        margin-top: -5em;
        margin-bottom: -5em;
      }
      iframe{
        
        padding-top: 2em;
        height: 22em;
        width: 35em;
      }
    }
  }
  nav {
    width: 40%;
  }
}
@media only screen and (min-width: 950px) {
  .navbar {
    padding: 1em 7em;
    .container {
      .logo {
        img {
          height: 6em;
        }
      }
      .mobile-menu {
        height: 2.5em;
      }
    }
  }
  .container{
    .hero-text{
      .photos1{
        img{
          width:100%;
        }
      }
      .photos2{
        img{
          width:0%;
        }
      }
      iframe{
        height: 22em;
        width: 35em;
      }
    }
  }
}
@media only screen and (min-width: 1100px) {
  .container{
    .hero-text{
      iframe{

        background-color: #20272e;
        height: 26.5em;
        width: 43em;
      }
    }
  }
}
@media only screen and (min-width: 1450px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .logo {
    padding-left: 6em;
  }

  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding-left: 10em;

    ul {
      display: flex;
      padding-top: 0.7em;
    }

    a {
      color: black;
      font-size: 1.3em;
      padding: 0.4em 2em;
    }

    ul.primary-nav {
      margin: auto auto;

      li {
        font-weight: normal;
      }

      &:hover {
        font-weight: bold;
      }
    }
  }
  .container{
    .hero-text{
      iframe{
        height: 35.5em;
        width: 58em;
      }
    }
  }
}
